.results-table {
  &__results {
      overflow: auto;

      &__image {
        width: 90px;

        @media print {
          width: 60px;
        }
      }

      .govuk-table__header {
        vertical-align: bottom;
      }

      .govuk-table__cell {
        vertical-align: middle;

        &--tall {
          @include govuk-responsive-padding(4, 'top');
          @include govuk-responsive-padding(4, 'bottom');
        }
      }

      .alerts-list {
        display: flex;
      }
    }
}

// Horizontal stroke between records, but no stroke on the last row's baseline
.in-reception-roll__table {
  .govuk-table__body .govuk-table__row:last-child .govuk-table__cell {
    border-bottom: 0;
  }
}
