{% extends "../partials/layout.njk" %}
{% from "../macros/establishmentRollStatCard.njk" import establishmentRollStatCard %}

{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}
{% set todayStats = establishmentRollCounts.todayStats %}
{% set totals = establishmentRollCounts.totals %}
{% set wings = establishmentRollCounts.wings %}
{% set capacityLabel = "Working capacity" if useWorkingCapacity else "Operational capacity" %}
{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  dpsUrl
    }
] %}
{% set showPrintLink = true %}

{% macro blockRow(block, type, wing, spur, lastInGroup) %}
    <tr class="govuk-table__row establishment-roll__table__{{ "spur" if type == "SPUR" else ("landing" if type == "LANDING" else "wing") }}-row {{ 'last-in-group' if lastInGroup else '' }}"
        id="{{ block.locationId }}"
        {% if wing %}data-wing-id="{{ wing }}" {% endif %}
    >
        <td class="govuk-table__cell">
            {% if type == "LANDING" %}
                <a class="govuk-link" href="/wing/{{ wing }}/{{ ("spur/" ~ spur ~ "/") if spur else "" }}landing/{{ block.locationId }}">{{ block.localName or block.locationCode }}</a>
            {% else %}
                {{ block.localName or block.locationCode }}
            {% endif %}
        </td>
        <td class="govuk-table__cell">{{ block.rollCount.bedsInUse }}</td>
        <td class="govuk-table__cell">{{ block.rollCount.currentlyInCell }}</td>
        <td class="govuk-table__cell">
            {% if block.rollCount.currentlyOut > 0 %}
                <a class="govuk-link" href="/{{block.locationId}}/currently-out">{{block.rollCount.currentlyOut}}</a>
            {% else %} 0 {% endif %}
        </td>
        <td class="govuk-table__cell">{{ block.rollCount.workingCapacity }}</td>
        <td class="govuk-table__cell">{{ block.rollCount.netVacancies }}</td>
        <td class="govuk-table__cell">{{ block.rollCount.outOfOrder }}</td>
    </tr>
{% endmacro %}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-8">
    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Establishment roll for {{ date | formatDate('full') }}</h1>
    </div>

    <h2 class="govuk-heading-m">Today's roll</h2>
    <div class="establishment-roll-cards-container">
        {{
            establishmentRollStatCard(
                heading = "Unlock roll",
                description = "As of 00:01",
                value = todayStats.unlockRoll,
                qaTag = "unlock-roll-card"
            )
        }}

        {{
            establishmentRollStatCard(
                heading = "Current population",
                description = "All prisoners on-site",
                value = todayStats.currentRoll,
                qaTag = "current-roll-card"
            )
        }}

        {{
            establishmentRollStatCard(
                heading = "In today",
                description = "Arrivals so far",
                value = todayStats.inToday,
                href = "/arrived-today",
                qaTag = "in-today-card"
            )
        }}

        {{
            establishmentRollStatCard(
                heading = "Out today",
                description = "Permanent and temporary departures so far",
                value = todayStats.outToday,
                href = "/out-today",
                qaTag = "out-today-card"
            )
        }}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Movements</h2>
    <div class="establishment-roll-cards-container">
        {{
            establishmentRollStatCard(
                heading = "In reception",
                value = todayStats.unassignedIn,
                href = "/in-reception",
                qaTag = "unassigned-in-card"
            )
        }}

        {{
            establishmentRollStatCard(
                heading = "No cell allocated",
                value = todayStats.noCellAllocated,
                href = "/no-cell-allocated",
                qaTag = "no-cell-allocated-card"
            )
        }}

        {{
            establishmentRollStatCard(
                heading = "Incoming transfers",
                value = todayStats.enroute,
                href = "/en-route",
                qaTag = "enroute-card"
            )
        }}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Locations and vacancies</h2>
    <table class="govuk-table establishment-roll__table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header column-width-l">Location</th>
                <th scope="col" class="govuk-table__header column-width-m">
                    Beds in use
                    <span class="establishment-roll__table__header-support">Prisoners allocated a bed</span>
                </th>
                <th scope="col" class="govuk-table__header column-width-m">
                    Currently in
                    <span class="establishment-roll__table__header-support">Prisoners allocated a bed and on site</span>
                </th>
                <th scope="col" class="govuk-table__header column-width-m">
                    Currently out
                    <span class="establishment-roll__table__header-support">Prisoners allocated a bed and off-site</span>
                </th>
                <th scope="col" class="govuk-table__header column-width-m">
                    {{ capacityLabel }}
                    <span class="establishment-roll__table__header-support">Total beds minus inactive cells</span>
                </th>
                <th scope="col" class="govuk-table__header column-width-m">
                    Beds available
                    {% if useWorkingCapacity %}
                        <span class="establishment-roll__table__header-support">Working capacity minus beds in use</span>
                    {% endif %}
                </th>
                <th scope="col" class="govuk-table__header column-width-s">Inactive cells</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for wing in wings %}
                {{ blockRow(block=wing) }}

                {% for subLocation in wing.subLocations %}
                    {% set style = 'SPUR' if subLocation.subLocations.length else 'LANDING' %}

                    {% if style == 'SPUR' %}
                        {{ blockRow(block=subLocation, type='SPUR', wing=wing.locationId) }}
                        {% for landing in subLocation.subLocations %}
                            {{ blockRow(block=landing, type='LANDING', wing=wing.locationId, spur=subLocation.locationId, lastInGroup=loop.index == subLocation.subLocations.length) }}
                        {% endfor %}
                    {% else %}
                        {{ blockRow(block=subLocation, type='LANDING', wing=wing.locationId, lastInGroup=loop.index == wing.subLocations.length) }}
                    {% endif %}
                {% endfor %}

            {% endfor %}
            <tr id="roll-table-totals-row" class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Totals</td>
                <td class="govuk-table__cell">{{ totals.bedsInUse }}</td>
                <td class="govuk-table__cell">{{ totals.currentlyInCell }}</td>
                <td class="govuk-table__cell">
                    {% if totals.currentlyOut > 0 %}
                        <a class="govuk-link" href="/total-currently-out">{{totals.currentlyOut}}</a>
                    {% else %} 0 {% endif %}
                </td>
                <td class="govuk-table__cell">{{ totals.workingCapacity }}</td>
                <td class="govuk-table__cell">{{ totals.netVacancies }}</td>
                <td class="govuk-table__cell">{{ totals.outOfOrder }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
