{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% set pageTitle = "Overnights due to return" %}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}

{% set breadCrumbs = [
		{
				text: 'Digital Prison Services',
				href:  dpsUrl
		},
		{
				text: 'Establishment roll',
				href:  '/'
		}
] %}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-8">
		<div class="govuk-!-margin-bottom-6">
				<h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1>
		</div>

		<div class="govuk-grid-row govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-full results-table results-table__results">
        {% if prisoners.length > 0 %}
              {% set rows = [] %}
              {% for prisoner in prisoners %}
                {% set prisonerName = prisoner.firstName | formatName("", prisoner.lastName, { style: 'lastCommaFirst' }) %}
                {% set csraLevel = prisoner.csra or 'None' %}
                {% set rows = (rows.push([
                  { html: '<img src="/prisonerImage/' ~ (prisoner.prisonerNumber or 'placeholder') ~ '" alt="Image of ' ~ prisonerName ~ '" class="results-table__results__image" />' },
                  { html: '<a href="' ~ prisonerProfileBackLinkUrl('Back to Overnights (due to return)', '/overnights', prisoner.prisonerNumber) ~ '" class="govuk-link">' ~ prisonerName ~ '</a>', sortValue: prisonerName },
                  { text: prisoner.prisonerNumber },
                  { html: prisoner.movementTime | formatTime ~ '<br />' ~ prisoner.movementDate | formatDate('short'), sortValue: prisoner.movementDate | toUnixTimeStamp(prisoner.movementTime) },
                  { text: prisoner.reason },
                  { html: '<a href="' ~ prisonerProfileBackLinkUrl('Back to Overnights (due to return)', '/overnights', prisoner.prisonerNumber, '/csra-history') ~ '" class="govuk-link">' ~ csraLevel ~ '</a>', sortValue: csraLevel },
                  { html: alertFlags(prisoner.alertFlags) ~ categoryFlag("", prisoner.category) | safe }
                ]), rows) %}
              {% endfor %}

              {{ govukTable({
                caption: 'Overnights due to return (column headers with buttons are sortable)',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: false,
                classes: 'govuk-table overnights-roll__table table-vertical-align-middle sortable-table govuk-!-font-size-16',
                head: [
                  {
                    text: ''
                  },
                  {
                    text: "Name",
                    key: 'lastName',
                    classes: 'govuk-!-font-size-16'
                  },
                  {
                    text: "Prison number",
                    classes: 'govuk-!-font-size-16'
                  },
                  {
                    text: "Time and date departed",
                    key: 'timeDateDeparted',
                    classes: 'govuk-!-font-size-16'
                  },
                  {
                    text: 'Reason',
                    key: 'reason',
                    classes: 'govuk-!-font-size-16'
                  },
                  {
                    text: 'CSRA',
                    key: 'csra',
                    classes: 'govuk-!-font-size-16'
                  },
                  {
                    text: 'Relevant alerts',
                    classes: 'govuk-!-font-size-16'
                  }
                ] | convertToSortableColumns(sort or 'start,asc', '?sort={sortKey},{sortDirection}&page=1&' + filterQueries),
                rows: rows,
                attributes: { "data-module": "moj-sortable-table" }
              }) }}

              {% endif %}

              /* TODO: pagination */
      </div>
    </div>

</div>
{% endblock %}
